<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/style.css")
    @Styles.Render("~/Content/scrolling-nav.css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top cabecalho" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll menu">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll logo" href="./TesteIndex">Persymplex</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav menu">
                    <li>
                        @*<a class="page-scroll" href="#simplex">Simplex</a>*@
                        @Html.ActionLink("Novo Cálculo", "Index", "Simplex")
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <div class="container container-simplex">
        @RenderBody()
        @*<hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>*@
    </div>
    <div class="container">
        <!-- Rodapé -->
        <footer class="footer-simplex">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <p>Alunos da UNIVEM &copy; @DateTime.Now.Year - Todos os direitos reservados.</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/jquery.easing.min.js")
    @Scripts.Render("~/Scripts/scrolling-nav.js")
    @RenderSection("scripts", required: false)
</body>
</html>