@{
    ViewBag.Title = "PerSymplex";
    Layout = "~/Views/Simplex/_LayoutIndex.cshtml";
}
@*<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    @{
        ViewBag.Title = "PerSymplex";
    }
    @Styles.Render("~/Content/style.css")
    @Styles.Render("~/Content/scrolling-nav.css")
    @Scripts.Render("~/Scripts/jquery.easing.min.js")
    @Scripts.Render("~/Scripts/scrolling-nav.js")
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/style.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/scrolling-nav.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>*@
<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->
    @*<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Persymplex</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a class="page-scroll" href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#inicio">Teoria Simplex</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#persymplex">O Projeto</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#equipe">Equipe</a>
                    </li>
                    <li>@Html.ActionLink("Simplex", "Index", "Simplex")</li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>*@
    <!-- Início -->
        <section id="inicio">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Teoria Simplex</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <p>
                            O Método Simplex foi criado por George Dantzig, uma matemático estadunidense,
                            considerado, por conta deste método, o Pai da Programação Linear. Este algoritmo
                            apresenta a melhor solução para problemas com diversas restrições.
                        </p>
                        <p>
                            O algoritmo viabiliza a solução sendo executado por diversas vezes até seu resultado
                            final, onde as restrições que alimentam o processo são inequações, sendo elas,
                            representadas pelo sinal de menor igual ≤. Isso permite que cada inequação, com a
                            adição de uma variável de folga, se torne uma equação, sendo possível resolver o
                            problema inicial, minimizando ou maximizando a equação em busca da solução ideal.
                        </p>
                    </div>
                    <div class="col-md-4">
                        <img src="https://kuniga.files.wordpress.com/2010/07/dantzig.jpg" class="george">
                    </div>
                    <div class="col-xs-12">
                        <a class="btn page-scroll conheca-projeto" href="#persymplex">Conheça o Projeto</a>
                    </div>
                </div>
            </div>
        </section>
    
    <!-- Persymplex -->
    <section id="persymplex">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Persymplex</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <p>
                        O Persymplex foi desenvolvido pelos alunos do 3º ano do curso de Bacharelado em Sistemas 
                        de Informação do Centro Universitário Eurípedes de Marília - UNIVEM. O projeto 
                        não possui fins lucrativos, objetivando atender as expectativas geradas pelo 
                        professor Ricardo José Sabatine para a disciplina de Pesquisa Operacional.
                    </p>
                    <p>
                        O projeto procura tratar problemas de Programação Linear visando a resolução de 
                        questões com diversas restrições, exibindo o resultado com o passo-a-passo da 
                        solução, tornando simples e visual os resultados obtidos pelo sistema. Além disso, 
                        também será apresentada a análise de sensibilidade do problema proposto, indicando 
                        a solução ideal para melhor atender as necessidades do usuário.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    @Html.ActionLink("Get Started", "Index", "Simplex", new { @class = "btn get-started" })
                </div>
            </div>
        </div>
    </section>
        <!-- Equipe -->
        <section id="equipe">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Equipe</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-6 membro">
                        <div>
                            <img src="https://scontent.fcpq1-1.fna.fbcdn.net/v/t1.0-9/18157798_1491942677523331_1279617802480415518_n.jpg?oh=a50eba451efe3897b564e75c80dc56a6&oe=59E16FE8" class="img-circle foto">
                            <h4>Claudio Junior</h4>
                            <div class="col-xs-4 icone">
                                <a href="https://www.facebook.com/claudio.junior.927" target="_blank">
                                    <img src="http://news.clal.it/wp-content/themes/responsive-childtheme-master/core/icons/facebook-icon.png" />
                                </a>
                            </div>
                            <div class="col-xs-4 icone">
                                <a href="https://www.linkedin.com/in/claudio-junior-773014132/" target="_blank">
                                    <img src="http://socialmediakart.com/wp-content/uploads/2016/09/linkedin.png" />
                                </a>
                            </div>
                            <div class="col-xs-4 icone">
                                <a href="https://github.com/IndioMaroto" target="_blank">
                                    <img src="http://kaelin.io/static/images/github.png" />
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 membro">
                        <div>
                            <img src="https://scontent.fcpq1-1.fna.fbcdn.net/v/t1.0-9/942543_787664894692387_9104833141276113525_n.jpg?oh=d9a28e509ed9b95722e64403b058b6f1&oe=59A0DB52" class="img-circle foto">
                            <h4>Marcelo Sassá</h4>
                            <div class="col-xs-4 icone">
                                <a href="https://www.facebook.com/marceloguilherme.sassa" target="_blank">
                                    <img src="http://news.clal.it/wp-content/themes/responsive-childtheme-master/core/icons/facebook-icon.png" />
                                </a>
                            </div>
                            <div class="col-xs-4 icone">
                                <a href="https://www.linkedin.com/in/marcelo-guilherme-sass%C3%A1-3933a0132/" target="_blank">
                                    <img src="http://socialmediakart.com/wp-content/uploads/2016/09/linkedin.png" />
                                </a>
                            </div>
                            <div class="col-xs-4 icone">
                                <a href="https://github.com/marcelo-sassa" target="_blank">
                                    <img src="http://kaelin.io/static/images/github.png" />
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 membro">
                        <div>
                            <img src="https://scontent.fcpq1-1.fna.fbcdn.net/v/t1.0-9/10486188_826087877422346_7885918566536450200_n.jpg?oh=2134e037fc1f9d60a7a934a255ad163a&oe=59E644D1" class="img-circle foto">
                            <h4>Marcus Vinícius</h4>
                            <div class="col-xs-4 icone">
                                <a href="https://www.facebook.com/marcusvinicius.oliveira.587" target="_blank">
                                    <img src="http://news.clal.it/wp-content/themes/responsive-childtheme-master/core/icons/facebook-icon.png" />
                                </a>
                            </div>
                            <div class="col-xs-4 icone">
                                <a href="https://www.linkedin.com/in/marcus-vinicius-oliveira-00777034/" target="_blank">
                                    <img src="http://socialmediakart.com/wp-content/uploads/2016/09/linkedin.png" />
                                </a>
                            </div>
                            <div class="col-xs-4 icone">
                                <a href="https://github.com/MarcusOliveira767" target="_blank">
                                    <img src="http://kaelin.io/static/images/github.png" />
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 membro">
                        <div>
                            <img src="https://scontent.fcpq1-1.fna.fbcdn.net/v/t1.0-9/17904177_10206641535397181_2379530209313103705_n.jpg?oh=82c58febab8127d78d11e853e854c90c&oe=59D35715" class="img-circle foto">
                            <h4>Willy Souza</h4>
                            <div class="col-xs-4 icone">
                                <a href="https://www.facebook.com/w1llysouza" target="_blank">
                                    <img src="http://news.clal.it/wp-content/themes/responsive-childtheme-master/core/icons/facebook-icon.png" />
                                </a>
                            </div>
                            <div class="col-xs-4 icone">
                                <a href="https://www.linkedin.com/in/willy-souza-70625711b/" target="_blank">
                                    <img src="http://socialmediakart.com/wp-content/uploads/2016/09/linkedin.png" />
                                </a>
                            </div>
                            <div class="col-xs-4 icone">
                                <a href="https://github.com/WillySouza" target="_blank">
                                    <img src="http://kaelin.io/static/images/github.png" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

<!-- Rodapé -->
        <footer class="">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <p>Alunos da UNIVEM &copy; @DateTime.Now.Year - Todos os direitos reservados.</p>
                    </div>
                </div>
            </div>
        </footer>


        @*<!-- jQuery -->
        <script src="js/jquery.js"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="js/bootstrap.min.js"></script>
        <!-- Scrolling Nav JavaScript -->
        <script src="js/jquery.easing.min.js"></script>
        <script src="js/scrolling-nav.js"></script>*@
<script type="text/javascript">
    window.onload = function () {
        var teste = '@ViewData["PosicionaPagina"]';
        if (teste == "True")
        {
            window.location.hash = "simplex";
        }
    };
</script>
